<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voter Registration Form</title>
</head>
<body style="background-color:green;" >
<table bgcolor="blue" border='10' cellpadding='1' cellspacing="1">
<a href="C:\Users\VAMSHI\Desktop\MHN Informatics\day 1\index.html" target="submit"></a><fieldset>
  <center><h2><b><legend>Registration form</legend></b></h2></center>
  <form class="" action="index.html" method="post">

<center>Name: <input type="text" placeholder="Name" required></center><br>
<center>Email: <input type="text" value='' placeholder="Email@com" required></center><br>
<center>Mobile No: <input type="number" maxlength="10" pattern="\d{10}"></center><br>
<center>Gender: <input type="radio" name="gender" value="male" checked> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Others</center><br>
<center>Country: <select name="Country" width="10">
  <option value="select">select</option>
  <option value="Afghanistan">Afghanistan</option>
  <option value="Iran">Iran</option>
  <option value="Iraq">Iraq</option>
    <option value="India">India</option>
      <option value="UK">UK</option>
      <option value="Russia">Russia</option>
  <option value="Netherlands">Netherlands</option>
  <option value="Chili">Chili</option>
  <option value="Other">Other</option>
</select></center><br>
<center>State: <select name="State" width="10">
  <option value="select">select state</option>
  <option value="Andhra Pradesh">Andhra Pradesh</option>
  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
  <option value="Assam">Assam</option>
    <option value="Bihar">Bihar</option>
      <option value="Chattisgarh">Chattisgarh</option>
      <option value="Jharkhand">Jharkhand</option>
  <option value="Tamil Nadu">Tamil Nadu</option>
  <option value="Telangana">Telangana</option>
  <option value="Other">Other</option>
</select></center><br>
<center>City: <select name="City" width="10">
  <option value="select city">select city</option>
  <option value="Hyderbad">Hyderbad</option>
  <option value="Adilabad">Adilabad</option>
  <option value="Nizamabad">Nizamabad</option>
  <option value="Karimanagar">Karimanagar</option>
    <option value="Warangal">Warangal</option>
      <option value="Mahabubnagar">Mahabubnagar</option>
      <option value="khammam">Khammam</option>
  <option value="Medak">Medak</option>
  <option value="Nalgonda">Nalgonda</option>
  <option value="Khammam">Khammam</option>
  <option value="Other">Other</option>
</select></center><br><center>Address:
<textarea name="message" rows="10" cols="30" align="center" placeholder="text area...!">
text area...!
</textarea></center>
<center>Password: <input type="password" value=''required></center><br>
<center>Confirm Password: <input type="password" value=''required></center><br>
{#    <center><a href="{% url 'klm' %}" >submit</a>#}
  <input type="Reset" value="Reset" width="1">
  </form>

</fieldset>
</table>
</body>
</html>